@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;

  --color-primary: #8B5CF6;
  --color-secondary: #3B82F6;

  --color-dark: #0F1115;
  --color-card: #181B21;
  --color-border: #292D36;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #0F1115;
    color: #F5F5F5;
  }
}